{% extends "base.html" %}
{% block content %}

<div class="main">
    <div class="card">
        <h2>Admin Login</h2>

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <!-- CAPTCHA -->
                <div class="captcha-box">
                    {{ captcha_question }}
                </div>
            <input type="text" name="captcha" placeholder="Enter captcha answer" required>
            <button type="submit">Login</button>
            <p style="margin-top:15px;">
              <a href="/admin-forgot-password">Forgot Password?</a>
            </p>
        </form>
        <p style="margin-top:15px;">
            Don’t have an account?
            <a href="/admin-signup">Create Account</a>
        </p>
 
    </div>
</div>

{% endblock %}