{% extends "base.html" %}
{% block content %}

<div class="main">
    <div class="card">
        <h2>About SmartCart</h2>

        <p>
            <b>SmartCart</b> is a smart e-commerce management platform
            built using Flask and MySQL.
        </p>

        <p>
            It allows admins to securely login, add products,
            and manage store data efficiently.
        </p>

        <p>
            This project is developed as a learning + real-world application.
        </p>
    </div>
</div>

{% endblock %}