{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:420px; text-align:center;">

    <h2>Login As</h2>

    <a href="/user-login" class="add-product-btn" style="display:block; margin:15px 0;">
        User Login
    </a>

    <a href="/admin-login" class="add-product-btn" style="display:block;">
        Admin Login
    </a>
    <br>
    <p style="margin-top:15px;">
            Don’t have any account?
            <a href="/register">Create Account</a>
    </p>

</div>

{% endblock %}