{% extends "base.html" %}
{% block content %}

<div class="card" style="max-width:420px; text-align:center;">

    <h2>Register As</h2>

    <a href="/user-register" class="add-product-btn" style="display:block; margin:15px 0;">
        User Register
    </a>

    <a href="/admin-signup" class="add-product-btn" style="display:block;">
        Admin Register
    </a>

    <br>
    <p style="margin-top:15px;">
            Already have an account?
            <a href="/login">Please Login</a>
    </p>

</div>

{% endblock %}