{% extends "base.html" %}
{% block content %}

<div class="main">
    <div class="card">

        <h2>User Registration</h2>

        <form method="POST" action="/user-register">

            <input type="text"
                   name="name"
                   placeholder="Enter your name"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required>

            <input type="password"
                   name="password"
                   placeholder="Enter your password"
                   required>

            <button type="submit">Register</button>
        </form>

        <p style="margin-top:15px;">
            Already have an account?
            <a href="/user-login">Login</a>
        </p>

    </div>
</div>

{% endblock %}